body {
    font-family: sans-serif;
}

h2,
h3 {
    color: #00a2c6 !important;
}

h3 {
    color: red;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6
}

/* p {
    color:red;
}
*/

.red {
    color: red;
}

.skyblue-bg {
    background-color: skyblue;
}

.fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
}

p.fancy {
    text-shadow: 4px 4px 3px #00c8eb;
}

#special {
    background-color: skyblue;
}

/* <a> element yang menerapkan href attribut */
a[href] {
    color: blue;
}

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^="#"] {
    background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*="example"] {
    background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*="insensitive" i] {
    color: rgb(255, 39, 186);
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$=".org"] {
    color: red;
}
